header {
    text-align: center;
}

button {
    background-color: rgb(12, 80, 4);
    color: #fff;   
}

.ruleTitle {
    font-size: 35px;
}

#ruleBox {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: rgb(0, 255, 191);
    margin-top: 20px;
}

.ruleSheet {
    text-align: center;
    list-style-type: none;
}