* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}



body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quizContainer {
    width: 700px;
    max-width: 75%;
    background-color: antiquewhite;
    border-radius: 6px;
    padding: 12px;
    box-shadow: 3px 3px 6px 6px;
}

.quizButtons {
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 15px;
}

.answerButton {
    border-radius: 10px;
    padding: 6px 6px;
    background-color: aqua;
    border: 5px solid;
    color: black;
    outline: none;
}
.answerButton:hover {
    border-color: black;
}

.rightButton {
    color: darkgreen;
}

.wrongButton{
    color: darkred;
}

.beginButton:hover, .nextButton:hover {
    border-color: black;
    background-color: lightblue;
}

.beginButton, .nextButton {
    font-weight: bolder;
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 50px;
}

.quizMovement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disappear {
    display: none;
}






























/* *{
    box-sizing: border-box;
}

.welcome {
background-color: rgb(212, 233, 24);
}

body {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#begin {
    font-size: 75px;
    font-weight: 800;
    background-color: rgb(68, 131, 27);
}

#questionBox {
border-radius: 5px;
padding: 15px;
} */